div.box{
    width: 100px;
    height: 150px;
    background-color: #eeeff2;
    border-style: dotted;
    border-width: 10px;
    border-color: #D0D0FF;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

div.container{
    white-space: nowrap;
}

div.box:hover{
    cursor: hand;
    background-color: yellow;
    color: goldenrod;
}

div.f.box{
    position: fixed;
    bottom: 0;
    right: 0;
}

p.text{
    font-family: Tahoma;
    font-size: 40px;
    margin-left: 10px;
    margin-top: 10px;
}